.container-fluid
  .import
    .row.menu
      .col-md-12.col-xs-12
        .pull-right
          .menu-item
            = link_to "javascript:;", method: :get, class: "dropdown-toggle", data: { toggle: "dropdown" }, id: "actions-link", "data-content" => "Действия",
              "rel" => "popover", "data-placement" => "bottom", "data-trigger" => "hover" do
              = fa_icon "bars 2x", class: "text-muted"
            %ul.dropdown-menu.dark
              %div
                = link_to new_equipment_path, method: :get do
                  = fa_icon "plus-square", class: "text-muted"
                  %span Добавить
              %div
                = link_to import_path, method: :get do
                  = fa_icon "download", class: "text-muted"
                  %span Импорт
          .menu-item
            = link_to "javascript:;", id: "reports-link", class: "dropdown-toggle", data: { toggle: "dropdown" }, "data-content" => "Отчеты",
              "rel" => "popover", "data-placement" => "bottom", "data-trigger" => "hover" do
              = fa_icon "bar-chart-o 2x", class: "text-muted"
            %ul.dropdown-menu.dark.normal
              %li= link_to "По подразделению", "javascript:;", class: "text-muted", "data-toggle" => "modal", "data-target" => "#report_by_department_modal"
              %li= link_to "По зап. части", "javascript:;", class: "text-muted", "data-toggle" => "modal", "data-target" => "#report_by_spare_modal"

          .menu-item
            = link_to destroy_user_session_path, method: :delete, id: "log-out-link", "data-content" => "Выйти",
              "rel" => "popover", "data-placement" => "bottom", "data-trigger" => "hover" do
              = fa_icon "power-off 2x", class: "text-muted"
        %div.user-name
          = fa_icon "user", class: "text-muted"
          = current_user.email.split("@")[0]
    .row.back
      .col-md-12
        .pull-left
          .menu-item
            = link_to equipment_index_path, method: :get, id: "back-link", "data-content" => "Назад",
              "rel" => "popover", "data-placement" => "bottom", "data-trigger" => "hover" do
              = fa_icon "arrow-circle-o-left 2x", class: "text-muted"
    .row.header
      .col-md-6.col-md-offset-3
        %h1.title Импорт
    .row.content
      .col-md-12.col-xs-12
        = form_tag(upload_path, id: "import_form", multipart: true, method: :post, remote: true, authenticity_token: true) do
          = file_field_tag 'import_file', accept: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          .actions
            .file-item
              = link_to 'javascript:;', id: "upload_lnk" do
                = fa_icon "file 3x", class: "text-muted"
                %div
                  <span class="file-name">Выбрать файл</span><span class="file-ext"></span>

            .hidden-item.hidden-xs

            .import-item
              = link_to 'javascript:;', id: "import_lnk" do
                = fa_icon "download 3x", class: "text-muted"
                %div Загрузить

    #result_modal_container
    = render partial: 'format'

    .row
      .col-md-6.col-md-offset-3
        .progress.progress-striped.active{ :id => "progress" }
          %div.progress-bar{ :style => "width: 0%", :id => "bar" }

  = render partial: 'equipment/report_by_department'
  = render partial: 'equipment/report_by_spare'